@{
    ViewData["Title"] = "Lista de pasajes ";
}


@using Dominio;
@model List<Pasaje>

<h2>LISTA DE PASAJES:</h2>


@if (Model.Count() == 0)
{
    <div class="alert alert-danger">

        <p>No hay pasajes para mostrar. </p>
    </div>

}
else
{

    <table class="table table-hover table-dark">
        <thead>
            <tr>

                <th scope="col">ID</th>
                <th scope="col">RUTA</th>
                <th scope="col">PASAJERO</th>
                <th scope="col">FECHA</th>
                <th scope="col">TIPO EQUIPAJE</th>
                <th scope="col">PRECIO</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Pasaje pasaje in Model)
            {

                <tr>

                    <td>@pasaje.Id</td>
                    <td>@pasaje.Vuelo.Ruta</td>
                    <td>@pasaje.Pasajero.Nombre</td>
                    <td>@pasaje.Fecha.ToShortDateString()</td>
                    <td>@pasaje.TipoEquipaje</td>
                    <td>$@pasaje.Precio.ToString("F2")</td>
                </tr>

            }


        </tbody>
    </table>
}